# Entorno Virtual y Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Secretos y Configuración Local
.env
.DS_Store
Thumbs.db

# Carpetas de Trabajo Internas del Agente y del IDE
.vscode/
.agents/

# Cuadernos y Fuentes de Referencia del Curso Antiguo
FULL_COURSE_CSIC/
FULL_COURSE_USE/


# PAQUETE DE PYOPENSCI
NOTEBOOKS/PYTHON_CIENCIA_ABIERTA_2/

# PROYECTO FINAL INTEGRADOR DE GITHUB (REPOSITORIO INDEPENDIENTE)
PROYECTO_FINAL/
PROYECTO_FINAL_SOLVED/


# Directorios de creacion del Curso
utils/
scratch/

# Cualquier html
*.html

#cualquier powerpoint
/doc/PPTX/

*.pptx
*.ppt
*.docx
*.text

#agentes que no voy a subir
.agents/skills/ai-coding-assistant-module/
.agents/skills/course_learner/




