# Entorno Virtual y Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Secretos y Configuración Local
.env
.DS_Store
Thumbs.db
DOC_OFICIAL/


# Carpetas de Trabajo Internas del Agente y del IDE
.vscode/
.agents/

# PAQUETE DE PYOPENSCI

NOTEBOOKS/PYTHON_CIENCIA_ABIERTA_2/

# PROYECTO FINAL INTEGRADOR DE GITHUB (REPOSITORIO INDEPENDIENTE)

PROYECTO_FINAL/
PROYECTO_FINAL_SOLVED/


# Directorios de creacion del Curso
utils/
scratch/
artifacts/


# Cualquier html salvo la carpeta de documentación doc/HTML/
*.html
!doc/HTML/*.html

#cualquier powerpoint
/doc/PPTX/

#cualquier archivo de word o powerpoint o .text
*.pptx
*.ppt
*.docx
*.text


#cualquier carpeta de work in progress
*/WIP/
# Clics/Clonados anidados accidentales
PYTHON_PARA_CIENCIA_ABIERTA_2/
PDF/
CUESTIONARIOS/


